/*@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --negro: #16171E;
    --blanco: #FFFFFF;
    --botones: #890909;
    --primario: #621120;
    --secundario: #732C3E;
    --text-hover: #A57F3E;
    --fondo-input:#BAAE7F;
}

/*Responsive para escritorio*/
@media screen and (min-width: 1025px)  {

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-decoration: none;   
    overflow-x: hidden;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Contrail One', cursive;*/
    
}
a{
    text-decoration: none;
    list-style: none;
    color: var(--blanco);
}
/*Contenedor del titulo*/
div.titulo{
    margin: 20vh 0px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

div.titulo input#cantidad_producto{
    width: 42px;
    height: 29px;
    text-align: center;
    border: 0;
    font-size: 30px;
    color: black;
    background: transparent;
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*Contenedor Padre*/
div.container_carrito{
    display: flex;
    width: 90%;
    height: 90%;
    /* border: 1px solid black; */
    margin: auto;
}
div.realizar_pago{
    display: flex;
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
}
/*Contenedor de carrito Hijo*/
div.container_cart{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
div.container_cart_pago{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div.boton_pago{
    width: 10vw;
    height: 30px;
    position: absolute;
    float: right;
    top: 55vw;
    border: 1px solid transparent;
    color: black;
    right: 5vw;
    z-index: 2;
    text-align: center;
}
div.boton_pago:hover{
    transition: all ease 2s;
    border: 1px solid #333;
}
    div.boton_pago a{
        color: black;
        font-size: 20px;
    }


div.metodo_pago h1.title{
   
   
        text-align: center;

    
}
::-webkit-scrollbar:vertical {

    --webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width:10px;
}
/*Estilos de la tabla*/
.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    background-image: linear-gradient(var(--bs-table-accent-bg),var(--bs-table-accent-bg));
    border-bottom-width: 1px;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

/*Connedor de sumar o restar cantidad*/
div.content_cart_cant {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 30px;
    align-content: center;
    /* background: rgb(17, 187, 82); */
    margin: auto;
}
    .cart_cant {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 30px;
    align-content: center;
    /* background: rgb(17, 187, 82);*/
    }
    div.circle_content_cart {
        background-color: rgb(224, 224, 224);
        color: black;
        display: flex;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .cant_cart2 {
        width: 35px;
        height: 30px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1.2vw;
        background: transparent;
        /* border: 1px solid black; */
        border: 0;
    }

    .imagen_vino{
        width: 100%;
        height: calc(100px + 1.5vh);
        background-color: var(--blanco);
        overflow: hidden;
    }
    .img_prod 
    {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /*Contenedor de histroial de pedidos*/
    div.historial{
        margin: 20vh auto;
        width: 90%;
        height: 60vh;
        /* border: 1px solid black; */
        overflow-x: hidden;
        overflow-y: scroll;

    }
    
    
    div.titulo_historial{

        text-align: center;
    }

    /*Contenedor de boton de metodo de pago*/
    div#container_button_pay{
        width: 100%;
        width: 90%;
        justify-content: center;
        overflow: hidden;
        left: 50%;
        transform: translate(35% , 0px);
    } 
    div#paypal-button-container{   
        z-index: -1;
        width: 40%;


    }        
    /*Eliminar producto del carrito*/

    #eliminar_producto_carrito:hover{
        cursor: pointer;
    }
    
    /*Contenedor de la imagen de carrito vacio*/
div.img_carrito_vacio{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
}
div.img_carrito_vacio img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body{
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 80vh;
        text-decoration: none;   
        overflow-x: hidden;
        user-select: none;
        font-family: 'Open Sans', sans-serif;
        /*font-family: 'Contrail One', cursive;*/
        
    }
    a{
        text-decoration: none;
        list-style: none;
        color: var(--blanco);
    }
    /*Contenedor del titulo*/
    div.titulo{
        margin: 12vh 0px 0px 0px;
        text-align: center;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /*Contenedor Padre*/
    div.container_carrito{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: 60%;
        /* border: 1px solid black; */
        margin: auto auto 10vh auto;  
    }
    /*Contenedor de carrito Hijo*/
    div.container_cart{
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
        margin: 0;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    div.boton_pago{
        width: 27vw;
        height: 41px;
        display: flex;
        position: relative;
        float: right;
        color: brown;
        top: 8vw;
        left: 68vw;
        /* background: #e70404; */
        /* border: 0.1px solid #00000070; */
        color: black;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    div.titulo_historial{
        text-align: center;
    }
    div.boton_pago > a {
        color: black;
        font-size: 30px;
    }
    
    #container_button_pay{
        width: 50%;
        overflow: hidden;
        transform: translate(50%, 10px);
    }
    
    /*Estilos de la tabla*/
    .table>:not(caption)>*>* {
        padding: 0.5rem 0.5rem;
        background-color: var(--bs-table-bg);
        background-image: linear-gradient(var(--bs-table-accent-bg),var(--bs-table-accent-bg));
        border-bottom-width: 1px;
        font-size: 25px;
        
    }
    
    tbody, td, tfoot, th, thead, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
    }
    
    /*Connedor de sumar o restar cantidad*/
    div.content_cart_cant {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        height: 100px;
        align-content: center;
        /* background: rgb(17, 187, 82); */
    }
    .cart_cant {
            background-color: rgb(224, 224, 224);
            color: black;
            display: flex;
            text-align: center;
            width: 66px;
            height: 53px;
            border-radius: 50%;
            align-items: center;
            cursor: pointer;
            justify-content: center;
    }
    div.circle_content_cart {
        background-color: rgb(224, 224, 224);
        color: black;
        display: flex;
        text-align: center;
        width: 63px;
        height: 61px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    .cant_cart2 {
            width: 60px;
            height: 57px;
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: 3vw;
            background: transparent;
            /* border: 1px solid black; */
            border: 0;
            font-size: 3.2vw;
    }
    
        .imagen_vino{
            width: 100%;
            height: calc(100px + 1.5vh);
            background-color: var(--blanco);
            overflow: hidden;
        }
        .img_prod 
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

            /*Contenedor de histroial de pedidos*/
    div.historial{
        margin: 10vh auto;
        width: 90%;
        height: 60vh;
        /* border: 1px solid black; */
        overflow-x: hidden;
        overflow-y: scroll;

    }
        /*Contenedor de la imagen de carrito vacio*/
div.img_carrito_vacio{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
}
div.img_carrito_vacio img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    
    
}
@media screen and (max-width: 767px) {

    body{
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        text-decoration: none;   
        overflow-x: hidden;
        user-select: none;
        font-family: 'Open Sans', sans-serif;
        /*font-family: 'Contrail One', cursive;*/
        
    }
    a{
        text-decoration: none;
        list-style: none;
        color: var(--blanco);
    }
    /*Contenedor del titulo*/
    div.titulo{
        margin: 12vh 0px 0px 0px;
        text-align: center;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.realizar_pago{
        display: flex;
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
        margin: auto;
    }
    /*Contenedor de carrito Hijo*/
    div.container_cart{
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
        margin: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    /*Contenedor Padre*/
    div.container_carrito{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 60%;
        /* border: 1px solid black; */
        margin: auto;  
    }
    /*Contenedor de carrito Hijo*/
    div.container_cart{
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
        margin: 0;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    div.container_cart_pago{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    div.boton_pago{
        width: 35vw;
        height: 41px;
        display: flex;
        position: relative;
        float: right;
        color: brown;
        top: -7vw;
        left: 62vw;
        background: #ffffffb0;
        /* border: 0.1px solid #00000070; */
        color: black;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    div.boton_pago > a {
        color: black;
        font-size: 20px;
    }
    #container_button_pay{
        width: 60%;
        overflow: hidden;
        transform: translate(40%, 10px);
    
    }
    
    /*Estilos de la tabla*/
    .table>:not(caption)>*>* {
        padding: 0.5rem 0.5rem;
        background-color: var(--bs-table-bg);
        background-image: linear-gradient(var(--bs-table-accent-bg),var(--bs-table-accent-bg));
        border-bottom-width: 1px;
        font-size: 25px;
        
    }
    
    tbody, td, tfoot, th, thead, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
    }
    
    /*Connedor de sumar o restar cantidad*/
    div.content_cart_cant {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        height: 100px;
        align-content: center;
        /* background: rgb(17, 187, 82); */
    }
    .cart_cant {
            background-color: rgb(224, 224, 224);
            color: black;
            display: flex;
            text-align: center;
            width: 66px;
            height: 53px;
            border-radius: 50%;
            align-items: center;
            cursor: pointer;
            justify-content: center;
    }
    div.circle_content_cart {
        background-color: rgb(224, 224, 224);
        color: black;
        display: flex;
        text-align: center;
        width: 63px;
        height: 61px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    .cant_cart2 {
        width: 60px;
        height: 57px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 7vw;
        background: transparent;
        /* border: 1px solid black; */
        border: 0;
    }
    
        .imagen_vino{
            width: 100%;
            height: calc(100px + 1.5vh);
            background-color: var(--blanco);
            overflow: hidden;
        }
        .img_prod 
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .titulo_historial{
            margin-top: 13vw;
            text-align: center;
        }
        div.historial{
            margin: 10vw auto;
            width: 100%;
            overflow-x: scroll;
         
        }
        div.historial table{
            margin: 5vh auto;
            width: 90%;
            height: 60vh;
            /* border: 1px solid black; */
            overflow-x: scroll;
            overflow-y: scroll;
    
        }
            /*Contenedor de la imagen de carrito vacio*/
div.img_carrito_vacio{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 70vh;
    overflow: hidden;
}
div.img_carrito_vacio img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
}